/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

body {
  font-family: 'Sora', sans-serif;
  padding-inline: 1rem;
  padding-block: clamp(1rem, 3vw, 2rem);
  background-color: var(--neutral-900);
}

@media (min-width: 768px) {
  body {
    margin-inline: auto;
    max-width: 85vw;
  }
}