:root {
  /* Colors — Neutral */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Colors — Blue */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Colors — Red */
  --red-500: hsl(354, 63%, 57%);

  /* Colors — Green */
  --green-500: hsl(140, 63%, 57%);

  /* Colors — Yellow */
  --yellow-400: hsl(49, 85%, 70%);

  /* Font Weights */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}