.text__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-block: 1rem;
    border-block: solid 0.1rem var(--neutral-800);
    width: 100%;
    height: 54vh;
}

.text {
    font-size: 2rem;
    color: var(--neutral-400);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    scroll-behavior: smooth;
}

.word {
    margin-block: 2rem;
}

.input {
    position: absolute;
    background-color: transparent;
    color: transparent;
}

.fakeCursor {
    background-color: var(--neutral-300);
    border-radius: 0.2rem;
}

.correct {
    color: var(--green-500);
}

.incorrect {
    color: var(--red-500);
    text-decoration: underline;
}

.error {
    color: rgb(81, 3, 18);
    text-decoration: underline;
}