.text__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-block: 1rem;
    border-block: solid 0.1rem var(--neutral-800);
    width: 100%;
    height: 54vh;
}

.text {
    font-size: 2rem;
    color: var(--neutral-400);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    scroll-behavior: smooth;
}

.word {
    margin-block: 2rem;
}

.input {
    position: absolute;
    background-color: transparent;
    color: transparent;
}

.fakeCursor {
    background-color: var(--neutral-300);
    border-radius: 0.2rem;
}

.correct {
    color: var(--green-500);
}

.incorrect {
    color: var(--red-500);
    text-decoration: underline;
}

.error {
    color: rgb(81, 3, 18);
    text-decoration: underline;
}



/* Dialog Box */
.dialogBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: 54vh;
    background: rgba(25, 23, 23, 0.12);
    backdrop-filter: blur(14px);
}

.dialogBox button {
    position: inherit;
    top: 15rem;
    color: var(--neutral-0);
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--blue-600);
    cursor: pointer;
}

.dialogBox button:hover {
    background-color: var(--blue-400);
}

.dialogBox p {
    position: inherit;
    top: 20rem;
    color: var(--neutral-0);
    font-size: 1.2rem;
}