.text__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-block: 1rem;
    border-block: solid 0.1rem var(--neutral-800);
    width: 100%;
    height: 54vh;
}

.text {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    color: var(--neutral-500);
    height: 85%;
}

.input {
    background-color: var(--neutral-0);
}