.heading {
    text-align: center;
}

.iconsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-block: 3rem;
}

.star2 {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 1.5rem;
}

.star1 {
    position: absolute;
    right: 7%;
    width: 3rem;
}

.completed {
    border-radius: 50%;
    border: solid 0.5rem var(--green-400);
    outline: solid 0.5rem var(--green-300);
    background-color: var(--neutral-500);
}

.title {
    font-size: 1.6rem;
    color: var(--neutral-0);
}

.description {
    color: var(--neutral-500);
    margin-block: 0.75rem;
}

.final__stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1.5rem;
}

.final__stats > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: solid 0.1rem var(--neutral-300);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.category {
    font-size: 1.25rem;
    color: var(--neutral-400);
}

.score {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    color: var(--neutral-0);
}