.postTestPanel {
    overflow: hidden;
}

.heading {
    text-align: center;
}

.iconsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-block: 3rem;
}

.star2 {
    position: absolute;
    left: 0%;
    top: clamp(2.5rem, 7.5vw, 7rem);
    width: clamp(1.5rem, 3vw, 2rem);
}

.star1 {
    position: absolute;
    right: 7%;
    width: clamp(3rem, 5vw, 5rem);
}

.confettiContainer {
    position: absolute;
    left: 0%;
    bottom: 1%;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.confetti {
    position: absolute;
    z-index: -1;
    left: 53%;
    bottom: 3%;
    transform: scale(2.3);
}

.completed-icon {
    border-radius: 50%;
    border: solid var(--green-400);
    border-width: clamp(0.5rem, 1vw, 1rem);
    outline: solid var(--green-300);
    outline-width: clamp(0.5rem, 1vw, 1rem);
    background-color: var(--neutral-500);
}

.title {
    font-size: clamp(1.6rem, 3vw, 2.6rem);
    color: var(--neutral-0);
}

.description {
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: var(--neutral-500);
    margin-block: 0.75rem;
}

.final__stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1.5rem;
}

.final__stats > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: solid 0.1rem var(--neutral-300);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.category {
    font-size: 1.25rem;
    color: var(--neutral-400);
}

.score {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    color: var(--neutral-0);
}

.final__character .score {
    color: var(--neutral-500);
}

.totalCorrect {
    color: var(--green-500);
}

.totalIncorrect {
    color: var(--red-500);
}

.perfect {
    color: var(--green-500);
}

.not__perfect {
    color: var(--red-500);
}

@media (min-width: 768px) {
    .final__stats{
        flex-direction: row;
        justify-content: center;
        margin-block: 4rem;
    }

    .final__stats > * {
        width: 11rem;
    }

    .star1 {
        bottom: calc(10vw + 22rem);
    }

    .confetti {
        left: 0%;
        bottom: 0%;
        transform: scale(1.5);
        width: 100%;
    }

    .confettiContainer {
        height: 15vw;
        z-index: -1;
    }
}