/* DropdownBTN Component */
.dropdownBTN__container {
    position: relative;
    color: var(--neutral-0);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdownBTN {
    color: var(--neutral-0);
    padding-block: 0.25rem;
    border: solid 0.1rem var(--neutral-400);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.dropdown__options {
    position: absolute;
    z-index: 1;
    top: 100%;
    display: none; 
    margin-block-start: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-800);
    width: 100%;
}

.dropdown__options > *:not(:last-child) {
    border-bottom: solid 0.1rem var(--neutral-500);
}

.dropdown__options:last-child {
    border-bottom: solid 0.1rem transparent;
}

.option, .option_single {
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;
}

.option label {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.option label input:checked + .custom__radio {
    background-color: var(--neutral-900);
    border: solid 0.32rem var(--blue-400);
}

input[name="difficulty"],
input[name="mode"],
input[name="difficulty_single"],
input[name="mode_single"] {
    display: none;
}

.custom__radio {
    width: 1rem;
    aspect-ratio: 1 / 1;
    border: solid 0.1rem var(--neutral-0);
    border-radius: 50%;
}

label  {
    cursor: pointer;
}



/* Single BTN */
.singleBTN__container {
    display: none;
}

.dropdown__options_single {
    display: flex;
    gap: 0.5rem;
}

.settings_label {
    color: var(--neutral-500);
    font-weight: var(--fw-semibold);
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.option_single:has(input[type="radio"]:checked) {
    color: var(--blue-400);
    border-color: var(--blue-400);
}

.option_single:has(input[type="radio"]:focus) {
    outline: solid 0.5rem var(--blue-400);
    background-color: red;
}

.option_single {
    color: var(--neutral-0);
    border: solid var(--neutral-500) 0.05rem;
    border-radius: 0.5rem;
    width: max-content;
}

.option_single:hover {
    border-color: var(--blue-400);
    color: var(--blue-400);
}

@media (min-width: 768px) {
    .singleBTN__container {
        display: flex;
    }

    .dropdownBTN__container {
        display: none;
    }
}